<md-dialog aria-label="Login/Register">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">


      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Login">
          <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
              <div ng-controller="AuthenticationController">
                <span></span>
                <form ng-submit="submit()">
                  <input ng-model="user.email" type="text" name="user" placeholder="email" />
                  <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
                  <input type="submit" value="Login" />
                </form>
              </div>
            <!-- <form action="/" method="post">
                    <md-input-container>
                <label for="username">USERNAME: </label>
                <input type="text" name="username" id="username" />
                    </md-input-container>
                    <md-input-container>
                <label for="password">PASSWORD: </label>
                <input type="password" name="password" id="password" />
                    </md-input-container>
                <md-button class="md-raised md-primary" type="submit" value="Login" >Submit</md-button>
            </form> -->

            </md-content>
          </div>
        </md-tab>
        <md-tab label="Register">
          <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <form action="/register" method="post">
                  <md-input-container>
                <label for="username">USERNAME: </label>
                <input type="text" name="username" id="username" class="md-block" flex-gt-sm required/>
                  </md-input-container>
                  <md-input-container>
                <label for="password">PASSWORD: </label>
                <input type="text" name="password" id="password" class="md-block" flex-gt-sm required/>
                  </md-input-container>
                  <md-input-container>
                <label for="firstname">FIRST NAME: </label>
                <input type="text" name="firstname" id="firstname" class="md-block" flex-gt-sm required/>
                  </md-input-container>
                  <md-input-container>
                <label for="lastname">LAST NAME: </label>
                <input type="text" name="lastname" id="lastname" class="md-block" flex-gt-sm required/>
                  </md-input-container>
                  <md-input-container>
                <label for="phone">PHONE: </label>
                <input type="text" name="phone" id="phone" class="md-block" flex-gt-sm required/>
                  </md-input-container>
                  <md-input-container>
                <label for="email">EMAIL: </label>
                <input type="email" name="email" id="email" class="md-block" flex-gt-sm required/>
                  </md-input-container>
                  <md-input-container>
                <!-- <label for="address">ADDRESS: </label>
                <input type="text" name="address" id="address" class="md-block" flex-gt-sm required/> -->
                <!-- GoogleAutoComplete -->
                <div ng-controller="GoogleController">
                  <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                      <input type="text" ng-model="work.address" value="{{paDetails.formatted_address}}"
                           ng-places-autocomplete
                           ng-model="query"
                           pa-options="paOptions"
                           pa-on-place-ready="placesCallback"
                           pa-trigger="paTrigger"
                          />
                  </md-input-container>
                    <md-button ng-click="paTrigger()">Send</md-button>
                  </div>
                  <input type="text" name="geo" id="geo" class="md-block" value="{{paDetails.geometry.location}}"  flex-gt-sm />
                  <input type="text" name="address" id="address" class="md-block" value="{{paDetails.formatted_address}}"  flex-gt-sm />

                  <div>
                    <!-- <h1>Details: </h1>

                    <p>{{paDetails.geometry.access_points[0].location}}</p> -->
                    <p>
                      paDetails.formatted_address}: {{paDetails.formatted_address}}
                    </p>
                  </div>
                </div>
                <!-- End GoogleAutoComplete -->
                  </md-input-container>

                  <md-input-container>
                <input type="radio" name="role" value="customer" class="md-block" flex-gt-sm ng-model="content" >Customer<br>
                <input type="radio" name="role" value="contractor" class="md-block" flex-gt-sm ng-model="content" required>Contractor<br>
                </md-input-container>
                  <div ng-show="content == 'contractor'">
                      <md-input-container>
                    <!-- <label for="type">FIELD: </label> -->
                      <select type="text" name="type" id="type" class="md-block" flex-gt-sm >
                        <option>Accountant</option>
                        <option>Tutor</option>
                        <option>Machenic</option>
                        <option>Plumber</option>
                        <option>Marketer</option>
                      </select>
                      </md-input-container>
                      <!-- <label for="dob">DOB: </label>
                      <input type="text" name="dob" id="dob" class="md-block"  flex-gt-sm />
                      <label for="last4sos">last 4 digits of Social: </label>
                      <input type="text" name="last4sos" id="last4sos" class="md-block"  flex-gt-sm /> -->
                  </div>
                  <input type="text" name="action" value="signup" hidden/>

                <md-button class="md-raised md-primary" type="submit" value="Register">Register</md-button>

            </form>
          </md-content>
          </div>
        </md-tab>
        <!-- FOR FOR JWT -->
        <md-tab label="Create a new account">
          <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>

          <md-content class="padding">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="user.name">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
              </label>
            </div>
            <button class="button button-full button-positive" ng-click="signup()">
              Sign up
            </button>
          </md-content>
        </md-content>
        </div>
      </md-tab>
      <!-- login -->
      <md-tab label="Please sign in">
        <div layout="column" ng-cloak class="md-inline-form">
          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <md-content class="padding">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="user.name">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
            </label>
          </div>
          <button class="button button-full button-balanced" ng-click="login()">
            Login
          </button>
          <button class="button button-positive button-clear button-full" ui-sref="outside.register">Register now!</button>
        </md-content>
      </md-content>
      </div>
    </md-tab>

      </md-tabs>
    </md-dialog-content>


</md-dialog>
