<md-dialog aria-label="Login/Register">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">


    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Login">
        <div layout="column" ng-cloak class="md-inline-form">
          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div ng-controller="AuthenticationController">
              <span></span>
              <form ng-submit="submit()">
                <input ng-model="user.email" type="text" name="user" placeholder="email" />
                <input ng-model="user.password" type="password" placeholder="Password" />
                <input type="submit" value="Login" />
              </form>
              <span class="text-danger">{{message_fail}}</span> <span class="text-success ">{{message_success}}</span>
            </div>
            <!-- <form action="/" method="post">
            <md-input-container>
            <label for="username">USERNAME: </label>
            <input type="text" name="username" id="username" />
          </md-input-container>
          <md-input-container>
          <label for="password">PASSWORD: </label>
          <input type="password" name="password" id="password" />
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" value="Login" >Submit</md-button>
      </form> -->

    </md-content>
  </div>
</md-tab>
<md-tab label="Register">
  <div layout="column" ng-cloak class="md-inline-form">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>


<!--  ng-show="showTheForm" -->
      <div ng-controller="RegistrationController">
        <span></span>
        <form ng-submit="submitRegistration()" >
          <fieldset ng-disabled="!showTheForm" ng-class="{grayallfieldtext: !showTheForm}">
        <md-input-container>
          <label for="email">EMAIL: </label>
          <input ng-model="register.email" type="email" name="email" id="email" class="md-block" flex-gt-sm required/>
        </md-input-container>
        <md-input-container>
          <label for="password">PASSWORD: </label>
          <input ng-model="register.password" type="password" name="password" id="password" class="md-block" flex-gt-sm required/>
        </md-input-container>
        <md-input-container>
          <label for="firstname">FIRST NAME: </label>
          <input ng-model="register.firstname" type="text" name="firstname" id="firstname" class="md-block" flex-gt-sm required/>
        </md-input-container>
        <md-input-container>
          <label for="lastname">LAST NAME: </label>
          <input ng-model="register.lastname" type="text" name="lastname" id="lastname" class="md-block" flex-gt-sm required/>
        </md-input-container>
        <md-input-container>
          <label for="phone">PHONE: </label>
          <!-- <input type="text" ng-intl-tel-input name="phone" id="phone" class="md-block" placeholder="-XXXX" flex-gt-sm required/> -->
          <!-- <input type="text" ng-model="model.tel" ng-intl-tel-input> -->
          <div class="wrapper" ng-controller="PhoneInputCtlr">
            <!-- <div class="info">Raw Value: {{phoneVal}}</div>
            <div class="info">Filtered Value: {{phoneVal | tel}}</div> -->
            <input ng-model="register.phone" class="input-phone" type='text' name="phone" phone-input />
            <!-- <input class="input-phone" type='text' name="phone" phone-input ng-model="phoneVal"/ hidden> -->

          </div>
        </md-input-container>



        <md-input-container>
          <input  type="radio" name="role" value="customer" class="md-block" flex-gt-sm ng-model="register.role" >Customer<br>
          <input  type="radio" name="role" value="contractor" class="md-block" flex-gt-sm ng-model="register.role" required>Interpreter<br>
        </md-input-container>
        <div ng-show="register.role == 'contractor'">
          <!-- <md-input-container> -->
            <!-- <label for="type">FIELD: </label> -->
            <!-- <select type="text" name="type" id="type" class="md-block" flex-gt-sm >
              <option>Accountant</option>
              <option>Tutor</option>
              <option>Machenic</option>
              <option>Plumber</option>
              <option>Marketer</option>
            </select> -->
          <!-- </md-input-container> -->
          <!-- <p>Add a language now and add more later:</p> -->
          <md-input-container>
            <!-- <label for="languages">Language</label> -->
            <select ng-model="register.languages" type="text" name="languages" class="md-block" flex-gt-sm >
              <option>Spanish</option>
              <option>Hmong</option>
              <option>French</option>
              <option>Somali</option>
              <option>Russian</option>
              <option>Oromo</option>
              <option>Amharic</option>

            </select>
          </md-input-container>

          <md-input-container>
            <!-- <label for="address">ADDRESS: </label>
            <input type="text" name="address" id="address" class="md-block" flex-gt-sm required/> -->
            <!-- GoogleAutoComplete -->
            <div ng-controller="GoogleController">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="languages.address" value="{{paDetails.formatted_address}}"
                  ng-places-autocomplete
                  ng-model="query"
                  pa-options="paOptions"
                  pa-on-place-ready="placesCallback"
                  pa-trigger="paTrigger"
                  />
                  <!-- <label for="geo">geo</label> -->
                  <input ng-model="register.geo" type="text" name="geo" id="geo" class="md-block" value="{{paDetails.geometry.location}}"  flex-gt-sm hidden />
                  <!-- <label for="address">Address</label> -->
                  <input ng-model="register.address" type="text" name="address" id="address" class="md-block" value="{{paDetails.formatted_address}}"  flex-gt-sm  />
                </md-input-container>
                <!-- <md-button ng-click="paTrigger()">Send</md-button> -->
              </div>


              <!-- <div> -->
                <!-- <h1>Details: </h1>

                <p>{{paDetails.geometry.access_points[0].location}}</p> -->
                <!-- <p>
                  paDetails.formatted_address}: {{paDetails.formatted_address}}
                </p> -->
              <!-- </div> -->
            </div>
            <!-- End GoogleAutoComplete -->
          </md-input-container>

        </div>
        <input ng-model="register.action" ng-init="register.action='signup'" type="text" name="action" hidden/>

        <!-- <md-button class="md-raised md-primary" type="submit" value="Register">Register</md-button> -->
        <input type="submit" value="Register" ng-readonly="!showTheForm" /><!-- ng-disabled="!showTheForm" -->
      </fieldset>

      </form>
      <span class="text-danger">{{message_fail}}</span> <span class="text-success ">{{message_success}}</span>
      </div>
    </md-content>
  </div>
</md-tab>
<!-- FOR FOR JWT -->

<!-- login -->


</md-tabs>
</md-dialog-content>


</md-dialog>
